body {
    font-family: Arial, sans-serif;
    background-color: #bebebe;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #000;
    flex-direction: column;
}

.container {
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h3{
    color: #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h4{
    color: #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form-group{
    color: #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header h1 {
    margin: 0;
    text-align: center;
}

.menu-icon, .settings-icon {
    font-size: 24px;
}

.form-groups{
    display: inline-flex;
}

.grid {
    display: grid;
    gap: 5px;
    justify-content: center;
}

.row {
    display: flex;
}

.cell {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #000;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
}

.cell:focus {
    outline: none;
    border-color: #888;
}

.keyboard {
    margin-top: 20px;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.key {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px;
    margin: 2px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.key:hover {
    background-color: #bebebe;
}

.estadisticas {
    display: flex;
    justify-content: space-between;
}

.reinicio {
    border: 0px;
    height: 20px;
    width: auto;
    background-color: #bebebe;
}

.reinicio:hover {
    height: 22px;
    width: auto;
}

.logout {
    border: 0px;
    height: 27px;
    width: auto;
    background-color: #bebebe;
}

.logout:hover {
    height: 29px;
    width: auto;
}
